<div>
    <!-- Toolbar -->
    <div class="toolbar" role="banner">
        <span class="px-3 font-weight-bold fs-3">M C C</span>
        <span class="px-2">My Currency Converter</span>
    </div>


    <div class="content row" role="main">
        <form [formGroup]="currencyForm" *ngrxLet="isLoading$; let isLoading">


            <div>
                <h1>Convert your currency </h1>
                <div class="content-card row my-4 py-3" >
                    <!--   Amount   -->
                    <div class="col-xs-12 form-group fs-5">
                        <label for="inpAmount">Enter in amount</label>
                        <input [(ngModel)]="amount" required id="inpAmount" class="form-control" formControlName="amountInput">
                    </div>

                    <!-- From Currency -->
                    <div class="col-xs-12 col-md-6 py-2 form-group fs-5" >
                        <label class="col-xs-12" for="fromCurrencySelect">From</label>
                        <select
                            [(ngModel)]="fromCurrency"
                            class="form-control"
                            name="fromCurrencySelect"
                            id="fromCurrencySelect"
                            formControlName="fromCurrencySelect"
                            required>
                            <option  *ngFor="let currency of currencyList" [ngValue]="currency"> {{currency.name}} </option>
                        </select>
                    </div>

                    <!-- To Currency -->
                    <div class="col-xs-12 col-md-6 py-2 form-group fs-5">
                        <label class="col-xs-12" for="toCurrencySelect">To</label>
                        <select
                            [(ngModel)]="toCurrency"
                            (change)="updateConvertedAmount()"
                            class="form-control"
                            name="toCurrencySelect"
                            id="toCurrencySelect"
                            formControlName="toCurrencySelect"
                            required>
                            <option *ngFor="let currency of currencyList" [ngValue]="currency"> {{currency.name}} </option>
                        </select>
                    </div>

                    <!--   Convert Button   -->
                    <div class="col-xs-3 form-group py-3 text-center">
                        <button (click)="convertAmount()" type="button" class="btn btn-dark btn-lg" [disabled]="!currencyForm.valid">Convert Amount</button>
                    </div>

                    <!--   Converted Amount   -->
                    <div class="col-xs-12 py-2 fs-3 form-group">
                        <span class="col-xs-6">Converted Amount:</span>
                        <div class="col-xs-6" *ngIf="toCurrency && convertedAmount != 0">
                            <span class="px-1">{{toCurrency.code}}</span>
                            <span>{{convertedAmount}}</span>
                        </div>
                    </div>
                    <!--    Currency Loader    -->
                    <div *ngIf="currencyLoader" class="row justify-content-center">
                        <div  class="spinner-border m-5" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
