<!-- Toolbar -->
<div>
  <div class="toolbar" role="banner">
    <span class="px-3 font-weight-bold fs-3">M C C</span>
    <span class="px-2">My Currency Converter</span>
  </div>

  <div class="content row" role="main">
    <h1>{{fromCurrencyCode}} to {{toCurrencyCode}} </h1>
    <div class="content-card row my-4 py-3">
      <!--   Amount   -->
      <div class="col-xs-12 form-group fs-5">
        <label for="amount">Enter in amount</label>
        <input [(ngModel)]="amount" required id="amount" class="form-control">

      </div>
      <!-- From Currency -->
      <div class="col-xs-12 col-md-6 py-2 form-group fs-5" >
        <label class="col-xs-12" for="fromCurrencySelect">From</label>
        <select
          [(ngModel)]="fromCurrencyCode"
          class="form-control"
          name="fromCurrencySelect"
          id="fromCurrencySelect">
          <option  *ngFor="let currency of currencyList$ | async" [ngValue]="currency.code"> {{currency.name}} </option>
        </select>
      </div>

      <!-- To Currency -->
      <div class="col-xs-12 col-md-6 py-2 form-group fs-5">
        <label class="col-xs-12" for="toCurrencySelect">To</label>
        <select
          [(ngModel)]="toCurrencyCode"
          class="form-control"
          name="toCurrencySelect"
          id="toCurrencySelect">
          <option *ngFor="let currency of currencyList$ | async"  [ngValue]="currency.code"> {{currency.name}} </option>
        </select>
      </div>

      <!--   Convert Button   -->
      <div class="col-xs-3 form-group py-3 text-center">
        <button (click)="convertAmount()" type="button" class="btn btn-dark btn-lg">Convert Amount</button>
      </div>

      <!--   Converted Amount   -->
      <div class="col-xs-12 py-2 fs-3 form-group">
          <span class="col-xs-6">Converted Amount:</span>
          <div class="col-xs-6">
            <span class="px-1">{{toCurrencyCode}}</span>
            <span>{{convertedAmount}}</span>
          </div>
      </div>
    </div>
  </div>
</div>
