
<div class="content-card row text-center my-4 py-3">
    <!-- Source Currency -->
    <div class="col-xs-12 col-md-6">
        <label class="col-xs-12">Source Currency</label>
        <select class="col-xs-12">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
    </div>
    <!-- End Currency -->
    <div class="col-xs-12 col-md-6">
        <label class="col-xs-12">End Currency</label>
        <select class="col-xs-12">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
    </div>

 </div>
